.add-course{
  margin-right: 60%;
  background-color: #f0f0f0;
  padding: 60px 100px 30px ;
  width: 80%;
  margin-left : 10%;
  border-radius: 20px;
}

.add-course input[type=text]{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #cdcdcd;
  width: 80%;
  padding-top: 15px;
  outline: none;
  background-color: #f0f0f0;
}

.add-course label{
  padding: 10px 0 0 0;
  display: inline-flex;
}


.add-course label{
  margin-top: 10px;
}
.add-course textarea{
  width: 80%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #cdcdcd;
  background-color: #f0f0f0;
  outline: none;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  max-width: 700px;
}

.add-course ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffa500;
  opacity: 0.4; /* Firefox */
}

.add-course :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffa500;
  opacity: 0.4;
}

.add-course ::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffa500;
  opacity: 0.4;
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap  textarea {
  resize: none;
  overflow: hidden;
}
.grow-wrap  textarea,
.grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}

.add-course .for-more{
  cursor: pointer;
}

.add-course .for-more:hover{
  color: #737373;
}

.more-lang{
  display: none;
  width: 78%;
}

.language .container-check input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.language .container-check{
  display: inline-flex;
  position: relative;
  padding-left: 23px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  margin-right: 20px;

}

.language .checkmark {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #cdcdcd;
  border-radius: 3px;
  border-color: black;
}

.language .container-check:hover input ~ .checkmark {
  background-color: #f0f0f0;
}

.language .container-check input:checked ~ .checkmark {
  background-color: #ffa500;
}

.language .container-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.language .container-check input:checked ~ .checkmark:after {
  display: inline;
}

.language .container-check .checkmark:after {
  left: 4px;
  top: 2px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.add-course .title{
  font-size: 20px;
}

.certificate-title{
  font-size: larger;
}

.certificate input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
}

.certificate input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
}

.radio-check{
  margin-left: 8px;
  font-weight: lighter;
}

.add-course .content{
  margin-bottom: 12px;
}

.upload-icon{
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
  display: inline-flex;
}

.upload-icon .icon-cloud:hover, .icon-local:hover{
  color: #737373;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: black;
  text-align: center;
  font-size: large;
  /* Position the tooltip */
  position: center;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.add-course .name-input, #text , .language, .duration-input,
.certificate, .press-upload, .upload-icon{
  margin-left: 10px;
}


.file-upload > input
{
  display: none;
}

.file-upload img
{
  width: 80px;
  cursor: pointer;
}
